<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
<%- include('./partials/header') %>


</br>
</br>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row" >
               
            
              
            <div class="col-md-6" style="padding:10px;">
                
                <img src='<%= movie.Poster%>' alt="movie" style="width:300px;height:450px;">
                
            </div>
            <div class='col-md-6' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding:10px; background-color:whitesmoke;">
                <h5 style="font-family: 'Bangers';text-align: center;padding-bottom: 10px;"><%=movie.Title%></h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <p style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Year:<span style="color:black;"><%=movie.Year%></span></p>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Released:<span style="color:black;font-size:1rem;"><%=movie.Released%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Runtime:<span style="color:black;font-size:1rem;"><%=movie.Runtime%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Runtime:<span style="color:black;font-size:1rem;"><%=movie.Genre%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Director:<span style="color:black;font-size:1rem;"><%=movie.Director%></span></P>
                        </div>
                        
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Writer:<span style="color:black;font-size:1rem;font-family: 'Bangers', cursive;
                                font-family: 'Patrick Hand', cursive;"><%=movie.Writer%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Actors:<sapn style="color:black;font-size:1rem;"><%=movie.Actors%></sapn></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Language:<span style="color:black;font-size:1rem;"><%=movie.Language%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Awards:<span style="color:black;font-size:1rem;"><%=movie.Awards%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">imdbRating:<span style="color:black;font-size:1rem;"><%=movie.imdbRating%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Type:<span style="color:black;font-size:1rem;"><%=movie.Type%></span></P>
                        </div>
                        
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">DVD:<span style="color:black;font-size:1rem;"><%=movie.DVD%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Production:<span style="color:black;font-size:1rem;"><%=movie.Production%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Website:<span style="color:black;font-size:1rem;"><%=movie.Website%></span></P>
                        </div>
                        <div class="col-sm-6">
                            <P style="color:rgb(145, 66, 66);font-weight: bold;font-family: 'Bangers', cursive;">Response:<span style="color:black;font-size:1rem;"><%=movie.Response%></span></P>
                        </div>
                        
                        
                        
                    
                        
                        

                    </div>
                    

            </div>

              
              
            </div>
              
             
            </div>
          </div>
       

    </div>

</div>


</br>
</br>
</br>
</br>
</br>




